In [31]:
import importlib
# Imports
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import defaults
importlib.reload(defaults)
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv('./datasets/prepared_data.csv')
df.head()

,Unnamed: 0,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,Fingerprint_7,Fingerprint_8,...,fr_alkyl_halide.1,FractionCSP3.1,MolWt.1,ExactMolWt.1,Chi1.1,fr_Ar_NH.1,fr_Nhpyrrole.1,LabuteASA.1,EState_VSA4.1,Fingerprint
0,1,0,0,0,1,0,0,0,0,0,...,0,0.153846,250.681,250.039672,8.058551,0,0,103.266383,10.949676,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
1,5,0,0,0,0,0,0,0,0,0,...,0,0.142857,258.277,258.100442,9.075387,0,0,110.375335,5.687386,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10,0,1,0,0,0,0,0,0,0,...,0,0.200000,240.306,240.126263,8.664704,0,0,106.879298,5.687386,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,24,0,0,0,0,0,0,0,0,0,...,0,0.357143,246.310,246.136828,8.613392,0,0,106.546782,5.563451,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,25,0,0,0,0,0,0,0,0,0,...,0,0.153846,215.252,215.094629,7.808862,0,0,94.032824,16.459835,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [33]:
# Create test and train sets
X, y = defaults.get_data('pkm2')
X = df[defaults.x_data_fingerprint]
y = df[defaults.y_data].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [34]:
# Prediction model

# Define the pipeline
model = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(RandomForestRegressor(n_estimators=100)))
])

# Train model
model.fit(X_train, y_train)

# Make prediction using trained model
predictions = model.predict(X_test)
rounded_predictions = (predictions >= 0.5).astype(int)

In [35]:
# Calculate prediction scores
defaults.calculate_scores(rounded_predictions[:, 0], y_test.iloc[:, 0], 'PKM2')
defaults.calculate_scores(rounded_predictions[:, 1], y_test.iloc[:, 1], 'ERK2')

PKM2 - Accuracy: 0.9765, precision: 1.0000, recall: 0.0000, f1: 0.0000
ERK2 - Accuracy: 1.0000, precision: 1.0000, recall: 1.0000, f1: 1.0000

(1.0, 1.0, 1.0, 1.0)