In [1]:
# Imports
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import defaults
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./datasets/prepared_data.csv')
df.head()

,Unnamed: 0,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,Fingerprint_7,Fingerprint_8,...,MolWt.1,LogP.1,TPSA.1,NumHDonors.1,NumHAcceptors.1,rotatable_bonds.1,fr_NH1.1,fr_benzene.1,fr_phenol.1,Fingerprint
0,1,0,0,0,1,0,0,0,0,0,...,250.681,3.23272,39.44,0,3,3,0,1,0,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
1,2,0,0,0,0,0,0,0,0,0,...,210.277,0.76110,58.20,2,2,8,2,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,3,0,0,0,0,0,0,0,0,0,...,232.239,0.55792,58.17,0,4,3,0,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,4,0,0,0,0,0,0,0,0,0,...,226.663,1.03540,44.00,0,4,4,0,0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,5,0,0,0,0,0,0,0,0,0,...,258.277,2.51460,62.55,1,3,3,1,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [3]:
# Create test and train sets
X = df[defaults.x_data_fingerprint]
y = df[defaults.y_data].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
# Prediction model

# Define the pipeline
model = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(RandomForestRegressor(n_estimators=100)))
])

# Train model
model.fit(X_train, y_train)

# Make prediction using trained model
predictions = model.predict(X_test)
rounded_predictions = (predictions >= 0.5).astype(int)

In [7]:
# Calculate prediction scores
defaults.calculate_scores(rounded_predictions[:, 0], y_test.iloc[:, 0], 'PKM2')
defaults.calculate_scores(rounded_predictions[:, 1], y_test.iloc[:, 1], 'ERK2')

PKM2 - Accuracy: 0.9605, precision: 1.0000, recall: 0.0000, f1: 0.0000
ERK2 - Accuracy: 0.9435, precision: 0.0000, recall: 0.0000, f1: 0.0000

(0.943502824858757, 0.0, 0.0, 0.0)